body
{
    background-image: url("cards/pokerTable.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}


.dealer 
{
    padding:80px;
    display:flex; 
    flex-direction: column;
    
}

#dealers-card
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dealer-sum
{
    text-align: center;
    color: white; 
    border-radius: 100%;
    background-color: blueviolet;
    margin: 50px auto;
    padding: 25px;
}
.result
{
    padding: 25px;

    text-align: center;
}
.player
{
    padding:80px;
    display:flex; 
    flex-direction: column;
}

.player-sum{
    text-align: center;
    color: white; 
}
.buttons
{
      
    display:flex; 
    align-items: center;
    justify-content: space-between; 
    padding: 100px;
    padding-left: 300px;
    padding-right: 300px;  
}

.playerCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Align cards horizontally at the center */
}

.dealer img, .playerCards img {
    width: 100px; /* Adjust card width as needed */
    margin-right: 10px; /* Adjust margin between cards as needed */
}

button
{
    padding: 50px;

  
}