body
{
  
    height: 100vh;
    width:100%;
    overflow:hidden; 
    margin:0;
    padding:0;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    background-color: #000000;

}

.money
{
    
    position: absolute;
    left: 66%;
    top: 3.5%;
    color: white; 
    font-weight:bolder; 
}



.no-cash
{
    display:none;
    position: absolute;
    top: 43%;
    left: 13%;
    height: 30px;
    width: auto; 
}
.bank
{
   
    height: 23px;
    position: absolute; 
    left: 60%;
    top: 3%;
    
}

.enter-bet
{
    display:none;
    position: absolute;
    top: 43%;
    left: 30%;
    height: 30px;
    width: auto; 
}

.invalid-bet
{
    display:none;
    position: absolute;
    top: 43%;
    left: 25%;
    height: 30px;
    width: auto; 
}

.player-win,.dealer-win,.play-again
{
    display:none;
    position: absolute;
    top: 43%;
    left: 13%;
    height: 40px;
    width: auto; 
}

.bust-game, .push{
    position: absolute;
    top: 40%;
    right: 18.50%;
    display: none;

}
.welto
{
    position: absolute; 
    top: 39%;
    height: 40px;
    width: auto; 

}

.title-name
{   
    position:absolute;
    top: 45%;
    height: 60px;
}
.game
{
    display: flex; 
    justify-content: center;
    align-items: center;
}
.lead
{
    background-image: url("cards/Default.png");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 500px; 
    width: 500px;
    position: absolute; 
    top:16%;
   
}

.dealer 
{
    padding:80px;
    display:flex; 
    flex-direction: column;
    
}

#dealers-card
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 10%;
    left: 25%;
}

#dealers-card img
{
    height: 130px;
    width: 90px; 
}


.dealer-sum
{
    
    text-align: center;
    color: white; 
    border-radius: 100%;
    font-weight: bold;
    position: absolute; 
    top: 16%;
    left: 80%;
    margin: 10px auto;
    padding: 25px;
}
.result
{
    text-align: center;
    color: white; 
}
.player
{
    padding:80px;
    display:flex; 
    flex-direction: column;
}


.player-sum{
    text-align: center;
    font-weight: 1000;
    color: white; 
    border-radius: 100%;
    position: absolute; 
    top: 63%;
    left: 11%;
    margin: 10px auto;
    padding: 5px;
}
.buttons
{
      
    display:flex; 
    align-items: center;
    justify-content: space-between; 
   
    padding-left: 300px;
    padding-right: 300px;  
}
.playerCards
{
    flex-wrap: wrap;
    justify-content: center; /* Align cards horizontally at the center */
    position:absolute; 
    top: 57%;
    left: 25%;

}

.playerCards img
{
    height: 130px;
    width: 19px; 
}

input
{
    position: absolute;
    top: 70%;
    left: 33%;
    color: rgb(255, 255, 255);
    background-color: rgb(38, 8, 66);
    padding: 10px;
    text-align: center;
    border-radius: 10%;

}



.dealer img, .playerCards img {
    width: 100px; /* Adjust card width as needed */
    margin-right: -60px; /* Adjust margin between cards as needed */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


.stand, .hit
{
    display: none;
}

.deal{
    cursor: pointer;
    height: 40px;
    width:auto;
    position: absolute;
    top: 86%;
    left: 41%;
    padding:0;
    margin:0;  
}
.hit{
    cursor: pointer;
    height: 40px;
    width:auto;
    position: absolute;
    top: 86%;
    left: 28%;
    padding:0;
    margin:0;  
}
.stand
{
    cursor: pointer;
    height: 40px;
    width:auto;
    position: absolute;
    top: 86%;
    left: 53%;
    padding:0;
    margin:0; 
}
.cancel
{
    display:none;
    cursor: pointer;
    height: 42px;
    width:auto;
    position: absolute;
    top: 86%;
    left: 53%;
    padding:0;
    margin:0; 
 
}

.welcome{
    display: flex; 
    flex-direction:column; 
    justify-content: center; 
    align-items: center; 
}



.reset
{
    cursor: pointer;
    height: 40px;
    width:auto;
    position: absolute;
    top: 86%;
    left: 28%;
    padding:0;
    margin:0;  
    display:none;
}
